<ion-view title="Toollife" ng-controller="LoginCtrl">
        <ion-content class="has-header" >

            <form name="loginForm" ng-submit="login(formData)">
                <div class="list">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="text" name="email" ng-model="formData.email" placeholder="example@domain.com">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="formData.password" placeholder="********">
                  </label>
                </div>
                    <button type="submit" class="button button-block button-calm">Login</button>              
            </form>
            <hr>
            <a class="button button-small button-block icon-left ion-ionic button-balanced" href="#/signup">Signup</a>
            <!--
            <p>Magic -> click -><a ng-click="login({email: 'andyh_007@hotmail.com', password: 'password'})" >backdoor</a></p>                 -->
        </ion-content>
</ion-view>