<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Agenda" icon="icon ion-calendar" href="#/tab/diary">
    <ion-nav-view name="tab-diary"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Buscador" icon="icon ion-earth" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Perfil" icon="icon ion-outlet" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ajustes" icon="icon ion-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>